<?xml version="1.0"?>
<launch>

  <param name="robot_description_rob2w" command="cat '$(find rob2w_description)src/urdf/rob2w.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher_rob2w" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher_rob2w" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rob2w_description)src/launch/config.rviz" />


<node name="map_rviz_node" pkg="simulator" type="map_rviz_node"  output="screen" />

</launch>
